# Ignore any library object.
lib/*.so
lib/*.a

# Ignore python bytecode objects.
lib/python/*.pyo
lib/python/*.pyc

# Ignore any binary object.
bin
*.o

# Ignore ctags.
.tags

# Ignore temporary data.
*.b
*.dat
share/topography
share/scripts

# Ignore the API doc
docs
