# Ignore any library object.
*.so
*.dylib

# Ignore build artefacts.
Cargo.lock
/docs/build
/target

# Ignore python bytecode objects.
*.pyo
*.pyc

# Ignore PUMAS dumps.
*.pumas

# Ignore test data.
tests/data
