# Ignore any library object.
*.so
*.dylib

# Ignore temporary builds
build/*

# Ignore python bytecode objects.
*.pyo
*.pyc

# Ignore any binary object.
bin/*
*.o

# Ignore extra data.
share/*
!share/danton/
share/danton/materials/materials.pumas
