[submodule "ent"]
	path = ent
	url = https://github.com/niess/ent.git
[submodule "alouette"]
	path = alouette
	url = https://gitlab.in2p3.fr/niess/alouette.git
[submodule "pumas"]
	path = pumas
	url = https://github.com/niess/pumas.git
