[submodule "ent"]
	path = deps/ent
	url = https://github.com/niess/ent.git
[submodule "alouette"]
	path = deps/alouette
	url = https://github.com/niess/alouette.git
[submodule "pumas"]
	path = deps/pumas
	url = https://github.com/niess/pumas.git
[submodule "jsmn"]
	path = deps/jsmn
	url = https://github.com/zserge/jsmn.git
[submodule "jsmn-tea"]
	path = deps/jsmn-tea
	url = https://github.com/niess/jsmn-tea.git
[submodule "roar"]
	path = deps/roar
	url = https://github.com/niess/roar.git
